<!-- <div className={`transition-all duration-500 bg-white shadow-2xl fixed w-5/6 md:w-3/5 2xl:w-2/5 bottom-4 md:bottom-auto md:top-4 ${openToast ? "-translate-x-0 md:-translate-x-1/2 -translate-y-0 md:left-1/2" : "left-0 -translate-x-full"}`}>
    <div className="bg-white border-2 rounded-lg border-gray-300">
        <div className="text-sm flex justify-between items-center">
            <div className="p-2">
                <span>{messageToast}</span>
            </div>
            <div className="p-2 border-l-2 border-gray-600">
                <button onClick={() => setOpenToast(false)}>Dimiss</button>
            </div>
        </div>
    </div>
</div> -->